name: Test Suite

on:
  push:
    branches:
      - main
      - '*.x'
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: ['8.0', 8.1, 8.2]
        laravel: [9.*]
        statamic: [3.3, 3.4]
        os: [ubuntu-latest]

    name: PHP ${{ matrix.php }} - Laravel ${{ matrix.laravel }} - Statamic ${{ matrix.statamic }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "statamic/cms:${{ matrix.statamic }}" "orchestra/testbench:7.*" --prefer-dist --no-interaction --no-update
          composer install --prefer-dist --no-interaction

      - name: Lint
        run: composer lint -- --test

      - name: Test
        run: composer test
